services:
    app:
        build:
            context: .
            dockerfile: Dockerfile
        image: laravel-app
        container_name: laravel-app
        restart: unless-stopped
        working_dir: /var/www
        volumes:
            - ./:/var/www
        ports:
            - "9000:9000"
        depends_on:
            - mysql

    mysql:
        image: mysql:8.0
        restart: unless-stopped
        command: --default-authentication-plugin=mysql_native_password
        environment:
            MYSQL_DATABASE: laravel
            MYSQL_USER: laravel
            MYSQL_PASSWORD: laravel
            MYSQL_ROOT_PASSWORD: rootpassword
            MYSQL_ROOT_HOST: '%'
        ports:
            - "3306:3306"
        volumes:
            - mysqldata:/var/lib/mysql

    nginx:
        image: nginx:alpine
        container_name: nginx2
        restart: unless-stopped
        ports:
            - "8080:80"
        volumes:
            - ./:/var/www
            - ./docker/nginx/conf.d/:/etc/nginx/conf.d/
        depends_on:
            - app

volumes:
    mysqldata:
    mailhog_data:
